.catalog {
    padding: 105px 150px 0px 150px;
    background-color: #fff;
    .catalog__wrapper {
        display: flex;
    }
    .catalog__aside {
        margin: 0px 30px 0px 0px;
    }
    .catalog__aside__title {
        font-weight: 300;
        font-size: 20px;
        line-height: 23px;
        color: #252525;
        margin: 0px 0px 30px 0px;
    }
    .catalog__aside__item {
        a{
            text-decoration: none;
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            color: #252525;
        }
        margin: 0px 0px 20px 0px;
    }
    .catalog__aside__item:last-child{
        margin: 0px;
    }
    .catalog__cards {
        display: flex;
        flex-direction: column;
    }
    .cards__filter {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 436px;
        margin: 0px 0px 30px 0px;
    }
    .filter__item {
        display: flex;
        align-items: center;
        a {
            text-decoration: none;
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            color: #252525;
            margin: 0px 5px 0px 0px;
        }
    }
}